.umb-linkspicker {
  max-width: 500px;
  min-width: 66%;
}
.umb-linkspicker-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.umb-linkspicker-list .lp-item {
  position: relative;
  background-color: #f8f8f8;
  border: 1px solid transparent;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 5px;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.1;
}
.umb-linkspicker-list .lp-item:hover {
  cursor: pointer;
  border: 1px solid #2e8aea;
}
.umb-linkspicker-list .lp-object {
  border: 1px solid #ccc;
  background-color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  margin-right: 10px;
  cursor: move;
}
.umb-linkspicker-list .lp-item-name {
  font-weight: bold;
}
.umb-linkspicker-list .lp-item-description {
  color: #7f7f7f;
  font-size: 12px;
  display: block;
  margin-top: 3px;
}
.umb-linkspicker-list .lp-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
}
.umb-linkspicker .add-link {
  color: #2e8aea;
  background-color: transparent;
  border: 2px dashed #d9d9d9;
  cursor: pointer;
  padding: 3px;
  display: block;
  text-align: center;
}
.umb-linkspicker .add-link:hover {
  border: 2px dashed #2e8aea;
}
.lp-item.trashed:hover,
.lp-item.trashed {
  border-color: #ff0000;
}
.lp-item:before {
  cursor: move;
  left: 13px;
  right: 8px;
  top: 13px;
}